@charset "UTF-8 ";

:root{
  --cor_fundo:#191924;
  --cor_fundo_sec:#10041c;
  --cor_destaque:#00ff88;
  --cor_secundaria:#FFD700;
  --cor_texto:white;

  /* fontes */

  --fonte_principal:2rem; /*titulos */
  --fonte_principal_2:1.5rem; /*subtitulos */
  --fonte_sec:1.04rem; /*textos conteudo destacado */
  --fonte_tri:1rem; /*textos conteudo secundario */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
background-color: var(--cor_fundo);
}
.material-symbols-rounded {
  cursor: pointer;
  color: white;
  font-variation-settings:
  'FILL' 0,
  'wght' 1500,
  'GRAD' 0,
  'opsz' 48
}

#container_inicial{
  width: 100%;
  height: 40.5%;
  background-color:  var(--cor_fundo_sec);
  overflow: hidden;
  position: relative;
  margin-bottom: 3rem;
}
#container_inicial >img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
#box_textoInicial{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#box_textoInicial >p{
  color: var(--cor_texto);
  font-size: var(--fonte_sec);
  white-space: nowrap;
  font-weight: 400;
}
#box_textoInicial >h1{
  color: var(--cor_destaque);
  font-size: var(--fonte_principal);
  font-weight: 400;
}
#box_textoInicial >h5{
  color: var(--cor_secundaria);
  font-size: var(--fonte_tri);
  font-weight: 400;
}

#container_obras{
  width: 91vw;
  margin: auto;
  border: 1px red solid;
}
#container_obras h1{
  text-align: center;
  color: var(--cor_destaque);
  font-weight: 300;
}
.divisao_obras{
  margin: 1rem auto;
  background: black;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 1rem;
  overflow-x: scroll;
  padding: .5rem;
}
::-webkit-scrollbar{
  background: transparent;
  width: 1px;
  height: 1px;
}
::-webkit-scrollbar-thumb{
  background: whitesmoke;
  color: white;
  width: .5px;
  height: 1px;
}

.box_conteudo{
  display: flex;
  flex-direction: row;
  gap: .5rem;
  border: 1px green solid;
  padding: .5rem;
  /*padding: .2rem; */
  background: var(--cor_fundo_sec);
}

.conteudo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: .5rem;
}

.info{
  padding: .5rem;
  overflow-y: scroll;
  height: 19.5rem;
  display: none;
  transition: .4s;
}
.info h3{
  color: var(--cor_secundaria);
  font-weight: 300;
  text-align: center;
  margin-bottom: .5rem;
}
.info p{
  color: whitesmoke;
  font-weight: 300;
  text-align: center;
 
}

.name-btn{
  display: flex;
  gap: .5rem;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.name-btn h3{
  color: var(--cor_secundaria);
  font-size: var(--fonte_principal_2);
  font-weight: 300;
}
.show_btn{
  width: 3rem;
  height: 3rem;
}
.hide_btn{
  width: 3rem;
  height: 3rem;
  display: none;
}
.obras_img{
  width: 10rem;
  height: 11.5rem;
  border-radius: 3px;
 
}
#box_autor{
  display: flex;
  align-items: center;
  gap: 1rem;
  
}
#box_autor p{
  color: var(--cor_secundaria);
  font-weight: 300;
  font-style: italic;
}
.autor_img{
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
.active{
  display: block;
}
.view{
  opacity: .7;
}
.flexRow{
  display: flex;
  flex-direction: row;
}
.flexColumn{
  display: flex;
  flex-direction: column;
}
@media screen and (min-width:768px){
  #container_obras{
    width: 95vw;
  }
  .divisao_obras{
    flex-wrap: wrap;
    padding-block: 1.7rem;
    gap: 1.6rem;
    justify-content: center;
  }
  .box_conteudo{
    width: 47%;
    text-align: center;
  }
}